'.idea' 
'*.pyc'
'*.po'
'*.mo'
.idea
/REAL_STATE/__pycache__/
real_state_venv/
userside/__pycache__/
userside/migrations/0003_auto_20210904_2058.py
userside/migrations/0004_alter_user_details_user_zipcode.py
userside/migrations/__pycache__/0003_auto_20210904_2058.cpython-39.pyc
userside/migrations/__pycache__/0004_alter_user_details_user_zipcode.cpython-39.pyc
*.pyc
'*.pyc'
REAL_STATE/__pycache__
userside/__pycache__ 
userside/migrations/__pycache_
.idea/
