{% extends 'user/base.html' %}
{% block title %}Agent-Details{% endblock title %}
{% block body %}

	<!-- ============================ Page Title Start================================== -->
	<div class="page-title" style="background:#f4f4f4 url(/static/assets/img/slider-1.jpg);" data-overlay="5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">

					<div class="breadcrumbs-wrap">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active" aria-current="page">Agent Detail</li>
						</ol>
						<h2 class="breadcrumb-title">{{agent.user_name}} - {{agent.user_state}}</h2>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- ============================ Page Title End ================================== -->

	<!-- ============================ About Agency ================================== -->
	<section class="gray">
		<div class="container">
			<div class="row">

				<!-- property main detail -->
				<div class="col-lg-8 col-md-12 col-sm-12">

					<!-- Single Block Wrap -->
					<div class="property_block_wrap">

						<div class="property_block_wrap_header">
							<h4 class="property_block_title">Agent Info</h4>
						</div>

						<div class="block-body">
							<p>{{agent.user_about}}</p>
							<ul class="social-icons">
								<li><a class="facebook" href="{{agent.user_facebook}}"><i class="lni-facebook"></i></a></li>
								<li><a class="twitter" href="{{agent.user_twitter}}"><i class="lni-twitter"></i></a></li>
								<li><a class="instagram" href="{{agent.user_instagram}}"><i class="lni-instagram"></i></a></li>
								<li><a class="linkedin" href="#{{agent.user_linkedin}}"><i class="lni-linkedin"></i></a></li>
							</ul>
						</div>

					</div>

					<!-- Single Block Wrap -->
					<div class="_prtis_list mb-4">
						<div class="_prtis_list_header">
							<ul>
								<li>
									<div class="content_thumb"><i class="fa fa-envelope"></i></div>
									<div class="content">
										<span class="dark">{{agent.user_email}}</span>
										<span class="title">Email</span>
									</div>
								</li>
								<li>
									<div class="content_thumb"><i class="fa fa-phone"></i></div>
									<div class="content">
										<span class="dark">{{agent.user_contact}}</span>
										<span class="title">Call Me</span>
									</div>
								</li>
								<li>
									<div class="content_thumb"><i class="fa fa-map-marker-alt"></i></div>
									<div class="content">
										<span class="dark">{{agent.user_city}}, {{agent.user_state}}</span>
										<span class="title">Location</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="_prtis_list_body">
							<ul class="deatil_features">
								<li><strong>{{agent.user_name}}</strong>Name</li>
								<li><strong>{{agent.user_email}}</strong>Email</li>
								<li><strong>{{agent.user_contact}}</strong>Call</li>
								<li><strong>{{agent.user_city}}</strong>City</li>
								<li><strong>{{agent.user_state}}</strong>State</li>
								<li><strong>India</strong>Country</li>
							</ul>
						</div>
					</div>

					<!-- Single Block Wrap -->
					<div class="div_wraps">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<h4>All Properties</h4>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">

						<!-- Single Property -->
						 {% for property in property_details %}
						{% if property.property_user_id.user_id == agent.user_id and property.property_is_publish == 1%}
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="_exlio_125">{{property.property_status}}</div>
									<div class="list-img-slide">
										<div class="click">
											{%for photo in photo%}
												{%if property.property_id == photo.property_id_id%}
													<div><a href="#"><img src="{{photo.property_image_url.url}}"class="img-fluid mx-auto" alt=""/></a></div>
												{% endif %}
											{% endfor %}
											<!--
											<div><a href="single-property-1.html"><img src="static/assets/img/p-1.png"
																					   class="img-fluid mx-auto" alt=""/></a>
											</div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-2.png"
																					   class="img-fluid mx-auto" alt=""/></a>
											</div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-3.png"
																					   class="img-fluid mx-auto" alt=""/></a>
											</div>-->
										</div>
									</div>
								</div>

								<div class="listing-detail-wrapper">
									<div class="listing-short-detail-wrap">
										<div class="_card_list_flex mb-2">
											<div class="_card_flex_01">
												<span class="_list_blickes _netork">{{property.property_title}}</span>
											</div>
											<div class="_card_flex_last">
												<div class="prt_saveed_12lk">
													<!--<label class="toggler toggler-danger"><input type="checkbox"><i  class="ti-heart"></i></label>-->
													<label class="toggler toggler-danger"><a href="{% url 'add_bookmark' property_id=property.property_id %}"><i class="fa fa-bookmark"></i></a></label>
												</div>
											</div>
										</div>
										<div class="_card_list_flex">
											<div class="_card_flex_01">
												<h4 class="listing-name verified"><a href="single_property"
																					 class="prt-link-detail">{{property.property_address}}, {{property.property_city}}, {{property.property_state}}</a></h4>
											</div>
										</div>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bed.svg" width="13" alt=""/>
											</div>
											{{property.property_bedrooms}} Bed
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bathtub.svg" width="13"
																			 alt=""/></div>
											{{property.property_bathrooms}} Bath
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/move.svg" width="13"
																			 alt=""/></div>
											{{property.property_sqft_area}} sqft
										</div>
									</div>
								</div>

								<div class="listing-detail-footer">
									<div class="footer-first">
										<h6 class="listing-card-info-price mb-0 p-0">Rs. {{property.property_price}}</h6>
									</div>
									<div class="footer-flex">
										<a href="/single_property/{{property.property_id}}" class="prt-view">View Detail</a>
									</div>
								</div>

							</div>
						</div>
						{% endif %}
						{% endfor %}
						<!-- End Single Property -->


					</div>

				</div>

				<!-- property Sidebar -->
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="property-sidebar">

						<!-- Agent Detail -->
						<div class="sider_blocks_wrap">
							<div class="side-booking-body">
								<div class="agent-_blocks_title">

									<div class="agent-_blocks_thumb"><img src="/media/{{agent.user_image}}" alt=""></div>
									<div class="agent-_blocks_caption">
										<h4>{{agent.user_name}}</h4>
										<span class="approved-agent"><i class="ti-check"></i>approved</span>
									</div>
									<div class="clearfix"></div>
								</div>

<!--								<a href="#" class="agent-btn-contact" data-toggle="modal" data-target="#autho-message"><i class="ti-comment-alt"></i>Message</a>-->
									{% comment %} <a href="#"  data-toggle="modal" data-target="#autho-message" class="btn agent-btn theme-bg"><i class="fa fa-envelope mr-2"></i>Message</a> {% endcomment %}
												<a href="mailto:{{agent.3}}" class="agent-btn-contact"><i class="fa fa-envelope mr-2"></i>Message</a>
								<a href="tel:{{agent.4}}"><span id="number" data-last={{agent.user_contact}}>
									<span><i class="ti-headphone-alt"></i>{{agent.user_contact}}</span></a>
								</span>
							</div>
						</div>l̥
					</div>
				</div>
			
			</div>					
		</div>	
	</section>
	<!-- ============================ About Agency End ================================== -->
		
{% endblock body %}	
	