{% extends 'user/base.html' %}
{% block title %}Agent-Details{% endblock title %}
{% block body %}

	<!-- ============================ Page Title Start================================== -->
	<div class="page-title" style="background:#f4f4f4 url(/static/assets/img/slider-1.jpg);" data-overlay="5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">

					<div class="breadcrumbs-wrap">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active" aria-current="page">Agent Detail</li>
						</ol>
						<h2 class="breadcrumb-title">{{agent.user_name}} - {{agent.user_state}}</h2>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- ============================ Page Title End ================================== -->

	<!-- ============================ About Agency ================================== -->
	<section class="gray">
		<div class="container">
			<div class="row">

				<!-- property main detail -->
				<div class="col-lg-8 col-md-12 col-sm-12">

					<!-- Single Block Wrap -->
					<div class="property_block_wrap">

						<div class="property_block_wrap_header">
							<h4 class="property_block_title">Agent Info</h4>
						</div>

						<div class="block-body">
							<p>{{agent.user_about}}</p>
							<ul class="social-icons">
								<li><a class="facebook" href="{{agent.user_facebook}}"><i class="lni-facebook"></i></a></li>
								<li><a class="twitter" href="{{agent.user_twitter}}"><i class="lni-twitter"></i></a></li>
								<li><a class="instagram" href="{{agent.user_instagram}}"><i class="lni-instagram"></i></a></li>
								<li><a class="linkedin" href="#{{agent.user_linkedin}}"><i class="lni-linkedin"></i></a></li>
							</ul>
						</div>

					</div>

					<!-- Single Block Wrap -->
					<div class="_prtis_list mb-4">
						<div class="_prtis_list_header">
							<ul>
								<li>
									<div class="content_thumb"><i class="fa fa-envelope"></i></div>
									<div class="content">
										<span class="dark">{{agent.user_email}}</span>
										<span class="title">Email</span>
									</div>
								</li>
								<li>
									<div class="content_thumb"><i class="fa fa-phone"></i></div>
									<div class="content">
										<span class="dark">{{agent.user_contact}}</span>
										<span class="title">Call Me</span>
									</div>
								</li>
								<li>
									<div class="content_thumb"><i class="fa fa-map-marker-alt"></i></div>
									<div class="content">
										<span class="dark">{{agent.user_city}}, {{agent.user_state}}</span>
										<span class="title">Location</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="_prtis_list_body">
							<ul class="deatil_features">
								<li><strong>{{agent.user_name}}</strong>Name</li>
								<li><strong>{{agent.user_email}}</strong>Email</li>
								<li><strong>{{agent.user_contact}}</strong>Call</li>
								<li><strong>{{agent.user_city}}</strong>City</li>
								<li><strong>{{agent.user_state}}</strong>State</li>
								<li><strong>India</strong>Country</li>
								<li><strong>-</strong>Fax</li>
								<li><strong>-</strong>Property</li>
							</ul>
						</div>
					</div>

					<!-- Single Block Wrap -->
					<div class="div_wraps">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<h4>All Properties</h4>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">

						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="_exlio_125">For Rent</div>
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="static/assets/img/p-1.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-2.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-3.png" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
								</div>

								<div class="listing-detail-wrapper">
									<div class="listing-short-detail-wrap">
										<div class="_card_list_flex mb-2">
											<div class="_card_flex_01">
												<span class="_list_blickes _netork">4 Network</span>
												<span class="_list_blickes types">Condos</span>
											</div>
											<div class="_card_flex_last">
												<h6 class="listing-card-info-price mb-0">$6,700</h6>
											</div>
										</div>
										<div class="_card_list_flex">
											<div class="_card_flex_01">
												<h4 class="listing-name verified"><a href="single_property" class="prt-link-detail">7012 Shine Sehu Street, Liverpool London, LC345AC</a></h4>
											</div>
										</div>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bed.svg" width="13" alt="" /></div>4 Beds
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bathtub.svg" width="13" alt="" /></div>2 Bath
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/move.svg" width="13" alt="" /></div>820 sqft
										</div>
									</div>
								</div>

								<div class="listing-detail-footer">
									<div class="footer-first">
										<div class="foot-location"><img src="static/assets/img/pin.svg" width="18" alt="" />Montreal, Canada</div>
									</div>
									<div class="footer-flex">
										<ul class="selio_style">
											<li>
												<div class="prt_saveed_12lk">
													<label class="toggler toggler-danger" data-toggle="tooltip" data-placement="top" data-original-title="Save property"><input type="checkbox"><i class="ti-heart"></i></label>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="compare-property.html" data-toggle="tooltip" data-placement="top" data-original-title="Compare property"><i class="ti-control-shuffle"></i></a>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="single-property-1.html" data-toggle="tooltip" data-placement="top" data-original-title="View Property"><i class="ti-arrow-right"></i></a>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->

						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="_exlio_125">For Sale</div>
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="static/assets/img/p-4.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-5.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-6.png" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
								</div>

								<div class="listing-detail-wrapper">
									<div class="listing-short-detail-wrap">
										<div class="_card_list_flex mb-2">
											<div class="_card_flex_01">
												<span class="_list_blickes _netork">5 Network</span>
												<span class="_list_blickes types">Apartment</span>
											</div>
											<div class="_card_flex_last">
												<h6 class="listing-card-info-price mb-0">$6,900</h6>
											</div>
										</div>
										<div class="_card_list_flex">
											<div class="_card_flex_01">
												<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">425 Vine 012 Street, Montreal Canada, UHW45Q</a></h4>
											</div>
										</div>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bed.svg" width="13" alt="" /></div>4 Beds
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bathtub.svg" width="13" alt="" /></div>2 Bath
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/move.svg" width="13" alt="" /></div>700 sqft
										</div>
									</div>
								</div>

								<div class="listing-detail-footer">
									<div class="footer-first">
										<div class="foot-location"><img src="static/assets/img/pin.svg" width="18" alt="" />Montreal, Canada</div>
									</div>
									<div class="footer-flex">
										<ul class="selio_style">
											<li>
												<div class="prt_saveed_12lk">
													<label class="toggler toggler-danger" data-toggle="tooltip" data-placement="top" data-original-title="Save property"><input type="checkbox"><i class="ti-heart"></i></label>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="compare-property.html" data-toggle="tooltip" data-placement="top" data-original-title="Compare property"><i class="ti-control-shuffle"></i></a>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="single-property-1.html" data-toggle="tooltip" data-placement="top" data-original-title="View Property"><i class="ti-arrow-right"></i></a>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->

						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="_exlio_125">For Rent</div>
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="static/assets/img/p-7.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-8.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-9.png" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
								</div>

								<div class="listing-detail-wrapper">
									<div class="listing-short-detail-wrap">
										<div class="_card_list_flex mb-2">
											<div class="_card_flex_01">
												<span class="_list_blickes _netork">4 Network</span>
												<span class="_list_blickes types">Villas</span>
											</div>
											<div class="_card_flex_last">
												<h6 class="listing-card-info-price mb-0">$8,500</h6>
											</div>
										</div>
										<div class="_card_list_flex">
											<div class="_card_flex_01">
												<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">1244 Vansh Market, Mise Mizkel Australia, AU456HA</a></h4>
											</div>
										</div>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bed.svg" width="13" alt="" /></div>3 Beds
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bathtub.svg" width="13" alt="" /></div>2 Bath
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/move.svg" width="13" alt="" /></div>800 sqft
										</div>
									</div>
								</div>

								<div class="listing-detail-footer">
									<div class="footer-first">
										<div class="foot-location"><img src="static/assets/img/pin.svg" width="18" alt="" />Montreal, Canada</div>
									</div>
									<div class="footer-flex">
										<ul class="selio_style">
											<li>
												<div class="prt_saveed_12lk">
													<label class="toggler toggler-danger" data-toggle="tooltip" data-placement="top" data-original-title="Save property"><input type="checkbox"><i class="ti-heart"></i></label>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="compare-property.html" data-toggle="tooltip" data-placement="top" data-original-title="Compare property"><i class="ti-control-shuffle"></i></a>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="single-property-1.html" data-toggle="tooltip" data-placement="top" data-original-title="View Property"><i class="ti-arrow-right"></i></a>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->

						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="_exlio_125">For Rent</div>
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="static/assets/img/p-10.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-11.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-12.png" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
								</div>

								<div class="listing-detail-wrapper">
									<div class="listing-short-detail-wrap">
										<div class="_card_list_flex mb-2">
											<div class="_card_flex_01">
												<span class="_list_blickes _netork">5 Network</span>
												<span class="_list_blickes types">Offices</span>
											</div>
											<div class="_card_flex_last">
												<h6 class="listing-card-info-price mb-0">$7,900</h6>
											</div>
										</div>
										<div class="_card_list_flex">
											<div class="_card_flex_01">
												<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">7012 Shine Sehu Street, Liverpool London, LC345AC</a></h4>
											</div>
										</div>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bed.svg" width="13" alt="" /></div>4 Beds
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bathtub.svg" width="13" alt="" /></div>2 Bath
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/move.svg" width="13" alt="" /></div>900 sqft
										</div>
									</div>
								</div>

								<div class="listing-detail-footer">
									<div class="footer-first">
										<div class="foot-location"><img src="static/assets/img/pin.svg" width="18" alt="" />Montreal, Canada</div>
									</div>
									<div class="footer-flex">
										<ul class="selio_style">
											<li>
												<div class="prt_saveed_12lk">
													<label class="toggler toggler-danger" data-toggle="tooltip" data-placement="top" data-original-title="Save property"><input type="checkbox"><i class="ti-heart"></i></label>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="compare-property.html" data-toggle="tooltip" data-placement="top" data-original-title="Compare property"><i class="ti-control-shuffle"></i></a>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="single-property-1.html" data-toggle="tooltip" data-placement="top" data-original-title="View Property"><i class="ti-arrow-right"></i></a>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->

						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="_exlio_125">For Sale</div>
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="static/assets/img/p-13.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-14.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-15.png" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
								</div>

								<div class="listing-detail-wrapper">
									<div class="listing-short-detail-wrap">
										<div class="_card_list_flex mb-2">
											<div class="_card_flex_01">
												<span class="_list_blickes _netork">5 Network</span>
												<span class="_list_blickes types">Family</span>
											</div>
											<div class="_card_flex_last">
												<h6 class="listing-card-info-price mb-0">$8,500</h6>
											</div>
										</div>
										<div class="_card_list_flex">
											<div class="_card_flex_01">
												<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">7012 Shine Sehu Street, Liverpool London, LC345AC</a></h4>
											</div>
										</div>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bed.svg" width="13" alt="" /></div>5 Beds
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bathtub.svg" width="13" alt="" /></div>3 Bath
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/move.svg" width="13" alt="" /></div>920 sqft
										</div>
									</div>
								</div>

								<div class="listing-detail-footer">
									<div class="footer-first">
										<div class="foot-location"><img src="static/assets/img/pin.svg" width="18" alt="" />California, USA</div>
									</div>
									<div class="footer-flex">
										<ul class="selio_style">
											<li>
												<div class="prt_saveed_12lk">
													<label class="toggler toggler-danger" data-toggle="tooltip" data-placement="top" data-original-title="Save property"><input type="checkbox"><i class="ti-heart"></i></label>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="compare-property.html" data-toggle="tooltip" data-placement="top" data-original-title="Compare property"><i class="ti-control-shuffle"></i></a>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="single-property-1.html" data-toggle="tooltip" data-placement="top" data-original-title="View Property"><i class="ti-arrow-right"></i></a>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->
						<!-- Single Property -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">
									<div class="_exlio_125">For Rent</div>
									<div class="list-img-slide">
										<div class="click">
											<div><a href="single-property-1.html"><img src="static/assets/img/p-16.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-17.png" class="img-fluid mx-auto" alt="" /></a></div>
											<div><a href="single-property-1.html"><img src="static/assets/img/p-18.png" class="img-fluid mx-auto" alt="" /></a></div>
										</div>
									</div>
								</div>

								<div class="listing-detail-wrapper">
									<div class="listing-short-detail-wrap">
										<div class="_card_list_flex mb-2">
											<div class="_card_flex_01">
												<span class="_list_blickes _netork">7 Network</span>
												<span class="_list_blickes types">Condos</span>
											</div>
											<div class="_card_flex_last">
												<h6 class="listing-card-info-price mb-0">$1,200</h6>
											</div>
										</div>
										<div class="_card_list_flex">
											<div class="_card_flex_01">
												<h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">7012 Shine Sehu Street, Liverpool London, LC345AC</a></h4>
											</div>
										</div>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bed.svg" width="13" alt="" /></div>3 Beds
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/bathtub.svg" width="13" alt="" /></div>2 Bath
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="static/assets/img/move.svg" width="13" alt="" /></div>950 sqft
										</div>
									</div>
								</div>

								<div class="listing-detail-footer">
									<div class="footer-first">
										<div class="foot-location"><img src="static/assets/img/pin.svg" width="18" alt="" />Denever, New York</div>
									</div>
									<div class="footer-flex">
										<ul class="selio_style">
											<li>
												<div class="prt_saveed_12lk">
													<label class="toggler toggler-danger" data-toggle="tooltip" data-placement="top" data-original-title="Save property"><input type="checkbox"><i class="ti-heart"></i></label>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="compare-property.html" data-toggle="tooltip" data-placement="top" data-original-title="Compare property"><i class="ti-control-shuffle"></i></a>
												</div>
											</li>
											<li>
												<div class="prt_saveed_12lk">
													<a href="single-property-1.html" data-toggle="tooltip" data-placement="top" data-original-title="View Property"><i class="ti-arrow-right"></i></a>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
						<!-- End Single Property -->

					</div>

				</div>

				<!-- property Sidebar -->
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="property-sidebar">

						<!-- Agent Detail -->
						<div class="sider_blocks_wrap">
							<div class="side-booking-body">
								<div class="agent-_blocks_title">

									<div class="agent-_blocks_thumb"><img src="/media/{{agent.user_image}}" alt=""></div>
									<div class="agent-_blocks_caption">
										<h4>{{agent.user_name}}</h4>
										<span class="approved-agent"><i class="ti-check"></i>approved</span>
									</div>
									<div class="clearfix"></div>
								</div>

								<a href="#" class="agent-btn-contact" data-toggle="modal" data-target="#autho-message"><i class="ti-comment-alt"></i>Message</a>

								<span id="number" data-last="+1234567896">
									<span><i class="ti-headphone-alt"></i><a class="see">{{agent.user_contact}}</a></span>
								</span>
							</div>
						</div>

						<!-- Featured Property -->
						<div class="sidebar-widgets">

							<h4>Similar Property</h4>

							<div class="sidebar-property">

								<!-- List Sibar Property -->
								<div class="sides_list_property">
									<div class="sides_list_property_thumb">
										<img src="/static/assets/img/p-1.png" class="img-fluid" alt="" />
									</div>
									<div class="sides_list_property_detail">
										<h4><a href="single-property-1.html">Loss vengel New Apartment</a></h4>
										<span><i class="ti-location-pin"></i>Sans Fransico</span>
										<div class="lists_property_price">
											<div class="lists_property_types">
												<div class="property_types_vlix sale">For Sale</div>
											</div>
											<div class="lists_property_price_value">
												<h4>$4,240</h4>
											</div>
										</div>
									</div>
								</div>

								<!-- List Sibar Property -->
								<div class="sides_list_property">
									<div class="sides_list_property_thumb">
										<img src="/static/assets/img/p-4.png" class="img-fluid" alt="" />
									</div>
									<div class="sides_list_property_detail">
										<h4><a href="single-property-1.html">Montreal Quriqe Apartment</a></h4>
										<span><i class="ti-location-pin"></i>Liverpool, London</span>
										<div class="lists_property_price">
											<div class="lists_property_types">
												<div class="property_types_vlix">For Rent</div>
											</div>
											<div class="lists_property_price_value">
												<h4>$7,380</h4>
											</div>
										</div>
									</div>
								</div>

								<!-- List Sibar Property -->
								<div class="sides_list_property">
									<div class="sides_list_property_thumb">
										<img src="/static/assets/img/p-7.png" class="img-fluid" alt="" />
									</div>
									<div class="sides_list_property_detail">
										<h4><a href="single-property-1.html">Curmic Studio For Office</a></h4>
										<span><i class="ti-location-pin"></i>Montreal, Canada</span>
										<div class="lists_property_price">
											<div class="lists_property_types">
												<div class="property_types_vlix buy">For Buy</div>
											</div>
											<div class="lists_property_price_value">
												<h4>$8,730</h4>
											</div>
										</div>
									</div>
								</div>

								<!-- List Sibar Property -->
								<div class="sides_list_property">
									<div class="sides_list_property_thumb">
										<img src="/static/assets/img/p-5.png" class="img-fluid" alt="" />
									</div>
									<div class="sides_list_property_detail">
										<h4><a href="single-property-1.html">Montreal Quebec City</a></h4>
										<span><i class="ti-location-pin"></i>Sreek View, New York</span>
										<div class="lists_property_price">
											<div class="lists_property_types">
												<div class="property_types_vlix">For Rent</div>
											</div>
											<div class="lists_property_price_value">
												<h4>$6,240</h4>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
			
			</div>					
		</div>	
	</section>
	<!-- ============================ About Agency End ================================== -->
		
{% endblock body %}	
	