{% extends 'user/base.html' %}
{% block title %}{% endblock title %}
{% block body %}

<!-- ============================ All Property ================================== -->
<section class="gray pt-4">

    <div class="container">

        <div class="row m-0">
            <div class="short_wraping">
                <div class="row align-items-center">

                    <div class="col-lg-5 col-md-6 col-sm-12  col-sm-6">
                        <ul class="shorting_grid">
<!--                            <li class="list-inline-item"><a href="grid-layout-with-sidebar.html" class="active"><span-->
<!--                                    class="ti-layout-grid2"></span>Grid</a></li>-->
<!--                            <li class="list-inline-item"><a href="list-layout-with-sidebar.html"><span-->
<!--                                    class="ti-view-list"></span>List</a></li>-->
<!--                            <li class="list-inline-item"><a href="#"><span class="ti-map-alt"></span>Map</a></li>-->
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 order-md-3  col-sm-12">
                        <div class="shorting_pagination">
                            <div class="shorting_pagination_laft">
                                <h5>Showing 1-25 of 72 results</h5>
                            </div>
                            <div class="shorting_pagination_right">
                                <ul>
                                    <li><a href="javascript:void(0);" class="active">1</a></li>
                                    <li><a href="javascript:void(0);">2</a></li>
                                    <li><a href="javascript:void(0);">3</a></li>
                                    <li><a href="javascript:void(0);">4</a></li>
                                    <li><a href="javascript:void(0);">5</a></li>
                                    <li><a href="javascript:void(0);">6</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

<!--                    <div class="col-lg-3 col-md-6 col-sm-12 order-lg-3 order-md-2 col-sm-6" >-->
<!--                        <div class="shorting-right text-right" >-->
<!--                            <label class=>Short By:</label>-->
<!--                            <div class="dropdown show">-->
<!--                                <a class="btn btn-filter dropdown-toggle" href="#" data-toggle="dropdown"-->
<!--                                   aria-haspopup="true" aria-expanded="false">-->
<!--                                    <span class="selection">Most Rated</span>-->
<!--                                </a>-->
<!--                                <div class="drp-select dropdown-menu">-->
<!--                                    <a class="dropdown-item" href="JavaScript:Void(0);">Most Rated</a>-->
<!--                                    <a class="dropdown-item" href="JavaScript:Void(0);">Most Viewd</a>-->
<!--                                    <a class="dropdown-item" href="JavaScript:Void(0);">News Listings</a>-->
<!--                                    <a class="dropdown-item" href="JavaScript:Void(0);">High Rated</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
            </div>
        </div>

        <div class="row">

            <!-- property Sidebar -->
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="page-sidebar p-0">
                    <a class="filter_links" data-toggle="collapse" href="#fltbox" role="button" aria-expanded="false"
                       aria-controls="fltbox">Open Advance Filter<i class="fa fa-sliders-h ml-2"></i></a>
                    <div class="collapse" id="fltbox">
                        <form method="POST" enctype="multipart/form-data" action="property_type_filter">
                         {% csrf_token %}
                        <!-- Find New Property -->
                            <div class="sidebar-widgets p-4">


                            <div class="form-group">
                                <div class="simple-input">
                                    <select id="ptype" name="ptype" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="Houses">Houses</option>
                                        <option value="Apartment">Apartment</option>
                                        <option value="Villas">Villas</option>
                                        <option value="Commercial">Commercial</option>
                                        <option value="Offices">Offices</option>
                                        <option value="Garage">Garage</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="simple-input">
                                    <select id="status" name="status" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="for_rent">For Rent</option>
                                        <option value="for_sale">For Sale</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="simple-input">
                                    <select id="price" name="price" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">Less Then 10000</option>
                                        <option value="2">10000 - 100000</option>
                                        <option value="3">100000 - 500000</option>
                                        <option value="4">500000 - 5000000</option>
                                        <option value="5">Above 5000000</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="simple-input">
                                    <select id="bedrooms" name="bedrooms" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="simple-input">
                                    <select name="bathrooms" id="bathrooms" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="simple-input">
                                            <input name="min_area" type="number" class="form-control" placeholder="Min Area">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="simple-input">
                                            <input name="max_area" type="number" class="form-control" placeholder="Max Area">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 pt-4">
                                    <input type="submit" class="btn theme-bg rounded full-width" value="Find new home" >
                                </div>
                            </div>

                        </div>
                        </form>
                    </div>
                </div>
                <!-- Sidebar End -->
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="row justify-content-center">

                    <!-- Single Property -->
                    {% for i in pselected %}

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="property-listing property-2">

                            <div class="listing-img-wrapper">
                                <div class="_exlio_125">{{ i.property_status }}</div>
<!--                                <div class="list-img-slide">-->
<!--                                    <div class="click">-->
<!--                                        <div><a href="single-property-1.html"><img src="static/assets/img/p-1.png"-->
<!--                                                                                   class="img-fluid mx-auto"-->
<!--                                                                                   alt=""/></a></div>-->
<!--                                        <div><a href="single-property-1.html"><img src="static/assets/img/p-2.png"-->
<!--                                                                                   class="img-fluid mx-auto"-->
<!--                                                                                   alt=""/></a></div>-->
<!--                                        <div><a href="single-property-1.html"><img src="static/assets/img/p-3.png"-->
<!--                                                                                   class="img-fluid mx-auto"-->
<!--                                                                                   alt=""/></a></div>-->
<!--                                    </div>-->
<!--                                </div>-->

                            <div class="list-img-slide">
                                <div class="click">
                                    {%for photo in photo%}
                                        {%if i.property_id == photo.property_id_id%}
                                            <div><a href="#"><img src="{{photo.property_image_url.url}}"class="img-fluid mx-auto" alt=""/></a></div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>

                            </div>



                            <div class="listing-detail-wrapper">
                                <div class="listing-short-detail-wrap">
                                    <div class="_card_list_flex mb-2">
                                        <div class="_card_flex_01">
                                            <span class="_list_blickes types">{{ i.property_type }}</span>
                                        </div>
                                        <div class="_card_flex_last">
                                            <h6 class="listing-card-info-price mb-0">Rs. {{ i.property_price }}</h6>
                                        </div>
                                    </div>
                                    <div class="_card_list_flex">
                                        <div class="_card_flex_01">
                                            <h4 class="listing-name verified"><a href="/single_property/{{i.property_id}}"
                                                                                 class="prt-link-detail">{{ i.property_address }}, {{ i.property_city }}, {{ i.property_state }}, {{ i.property_zipcode }}</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="price-features-wrapper">
                                <div class="list-fx-features">
                                    <div class="listing-card-info-icon">
                                        <div class="inc-fleat-icon"><img src="static/assets/img/bed.svg" width="13"
                                                                         alt=""/></div>
                                        {{ i.property_bedrooms }} Beds
                                    </div>
                                    <div class="listing-card-info-icon">
                                        <div class="inc-fleat-icon"><img src="static/assets/img/bathtub.svg" width="13"
                                                                         alt=""/></div>
                                        {{ i.property_bathrooms }} Bath
                                    </div>
                                    <div class="listing-card-info-icon">
                                        <div class="inc-fleat-icon"><img src="static/assets/img/move.svg" width="13"
                                                                         alt=""/></div>
                                        {{ i.property_sqft_area }} sqft
                                    </div>
                                </div>
                            </div>

                            <div class="listing-detail-footer">
                                <div class="footer-first">
                                    <div class="foot-location">{{ i.property_title}}
                                    </div>
                                </div>
                                <div class="footer-flex">
                                    <ul class="selio_style">
                                        <li>
                                            <div class="prt_saveed_12lk">
                                                <label class="toggler toggler-danger"><a href="{% url 'add_bookmark' property_id=i.property_id %}"><i class="fa fa-bookmark"></i></a></label>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor%}
                    <!-- End Single Property -->


                </div>
            </div>


        </div>
    </div>
</section>
<!-- ============================ All Property ================================== -->

{% endblock body %}	